.ruby-blurb {
  background: image-url('ruby-logo.png') no-repeat left 8px;
  background-size: 62px 62px;
  margin: 0 0 15px -4px;
  padding: 15px 0 0 74px;

  h2 {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
  }
}
